

.inter-uniquifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}










.body{

    background-color: black;
 
    font-family: "Inter", sans-serif;

}


/* 
.Nav-section{


    display: flex ;
     

    justify-content: space-between;
    align-items: center; 

    text-align: center; 

     padding: 10px 190px ;

} 

.Navbar{

    display: flex; 
    border: 1px solid black ;
    border-radius: 39px  ; 

    padding: 3px; 
   
    gap: 35px; 

    text-align: center;
    margin: 10px;
} */

.Home{

    background-color: tomato;
    border: 1px solid black ;
    border-radius: 39px; 

}

.homepage{

    padding: 30px 190px;

    display: flex; 
}  

.homepage-button{

    padding: 190px;
} 


.homediv{

    background-image: linear-gradient(180deg, #353535 0%, rgba(54, 52, 52, 0) 100%);

    width: 1440px;
height: 620px;
gap: 0px;
opacity: 0px;

padding-left: 190px; 

border: 2px solid yellow ;


} 


 

/* Font section */



.smallfont{ 



    color: #FFFFFF80;

    /* color: #FFFFFF80; */
    
 

}   

.whitefont{

    color: white;
}

/* page 2 */ 

.pg2{


    padding: 190px;

    text-align: center;

}  

.p2img{

    padding: 5px 190px;

    justify-content: center;


    display: flex;

   gap: 90px;

}

.image{

    border-radius: 100px;
} 

.img-1 , .img-2, .img-3 , .img-4 {
 
    text-align: center;

} 

.card{

  /* justify-content: space-between;
  gap: 40px; */

  justify-content: space-between;



    
} 

.run{



 display: flex;

 gap: 80px;


padding: 20px 2px 20px 20px ;

justify-items: center;


border: 3px solid #353535;


 width: 1100px;

 height: 300px;

margin-left: 220px;

margin-top: 80px;
 

 align-items: center; 

 background-color: #353535; 

 border-radius: 15px;





}   

.img-run img {


  
 width: 85%  ;

 border-radius: 12px;

 object-fit: cover;
 


      
      
} 

.BMI{

border: 2px solid yellow ;

}


.bmibox{


    display: flex;

    justify-content: space-between;
}

.chart{

    /* background-color: #222222; */


    
}

table{

    border-collapse: collapse;


} 

td,th{
     border: 1px solid black ;
    
     padding : 5px 10 px ;
}


.Join{


    border-radius: 10px;

    background-color: orange;

    color: white;
} 



.team > img{

    width: 326px;

    height: 272px ; 

    border-radius: 9px;

    margin-bottom: 5px; 
    margin-right: 3px;

    padding-left: 0px;
    
    
} 

.team{


    display: grid; 

    grid-template-columns: repeat(3,1fr);

    justify-items: center;

    border: 15px solid black ; 

    width: 1240px;

    width: fit-content; 
    


} 

.teamsection{ 


    
align-items: center;    

padding: 20px;

width: fill(1060px);

}





